html {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top {
    background-image: url(./images/bg-pattern-card.svg);
    width: 340px;
    height: 170px;
    border-radius: 15px 15px 0 0;
}

img {
    border-radius: 100%;
    height: 110px;
    position: relative;
    margin-bottom: -60px;
    top: -55px;
    border: 7px solid white;
    background-color: white;
}

.mid {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

.mid p {
    margin-top: -10px;
    color: hsl(227, 10%, 46%);
}

.mid span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    padding-left: 8px;
}
.mid,
.bottom {
    background-color: white;
    width: 340px;
    text-align: center;
    border-bottom: 1px dotted hsl(0, 0%, 59%);
}


.bottom {
    border-radius: 0 0 15px 15px;
    word-spacing: 50px;
    padding-top: 10px;
}

.bottom h2 {
    display: inline-block;
    color: hsl(229, 23%, 23%);
}

.bottom span {
    display: block;
    color: hsl(227, 10%, 46%);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    opacity: 50%;
}
